@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');

:root {
    --bg-color: #E1E2E5;
    --pdark: #0E132D;
    --pfont: Lato;
    --offwhite: #0E132D;

}

body {
    background-color: var(--bg-color);
    font-family: var(--pfont);
    color: white;
    margin: 0;
        
}

.navbar {
    background-color: var(--pdark);
    max-height: 200px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
}

.nav-header {
    color: white;
    font-size: 2rem;
    text-align: left;
    text-decoration-line: none;
    font-weight: bold;
    padding-left: 1rem ;
}

.unordered {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

.unordered .links {
    padding: 1rem;
    color: white;
    text-decoration-line: none;
    font-size: 1rem;
    float: right;
    font-size: 1.1rem;
}

#active {
    font-weight: bolder;
}

span {
    color: var(--pdark);
}

header {
    background-color: var(--bg-color);
    padding: 4rem;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.image {
    max-width: 250px;
    float: left;
    padding-right: 10rem;
    
}

.header-title, .header-text {
    margin-top: 3rem;
    color: var(--pdark);
    
}



.tech {
    padding: 1rem;
    background-color: var(--offwhite);
    text-align: center;
}

.projects {
    padding: 1rem;
    text-align: center;
    color: var(--pdark);
}

.primary-btn {
    text-decoration-line: none;
    background-color: white;
    padding: .7rem;
    border-radius: 2rem;
    color: var(--pdark);
    border-style: solid;
    border-color: var(--bg-color);
    border-width: thin;
    margin: 1rem;
    
}

.blogs {
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--offwhite);
    text-align: center;
}

.secondary-btn {
    text-decoration-line: none;
    background-color: var(--pdark);
    padding: .7rem;
    border-radius: 2rem;
    color: white;
    border-style: solid;
    border-width: thin;
    margin: 1rem;
}

.footer {
    background-color: var(--pdark);
    max-height: 125px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
}

.footer-title {
    color: white;

}

.footer-links {
    color: white;
    text-decoration-line: none;
    padding: 2rem;
}

.project-ow {
    padding: 1rem;
    background-color: var(--offwhite);
    border-radius: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-right: 2rem;
}


.blog-ow {
    padding: 3rem;
    background-color: var(--offwhite);
    border-radius: 2rem;
    margin: auto;
    max-height: 250px;
}

ul {
    list-style: none;
}

.project-ow a {
    font-size: small;
}

.projects a {
    background-color: var(--pdark);
    color: white;
    border: none;
}